/* src/App.css */

.site-container {
  display: flex;
  flex-direction: column; /* Organiza os itens (navbar, main, footer) em uma coluna */
  min-height: 100vh;     /* Garante que o container ocupe no mínimo 100% da altura da tela */
}

.main-content {
  flex: 1; /* Faz o conteúdo principal "empurrar" o rodapé para baixo, ocupando todo o espaço disponível */
  padding: 2rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}